/*GENERAL*/
body{
    background-color: black;
}
*{
    padding: 0;
    margin: 0;
}

#Roue
{
    /* margin-left: 450px; */
    
    position: absolute;
    top: 5%;
    left: 40%;
    right: 40%;
}
#fleche       
{
display: block;
width: 3%;
min-width: 15px;
max-width: 40px;
height: auto;
position: absolute;
top: 2%;
left: 48.5%;
z-index: 2;
}

/* #roue {
    display: inline-block;
    width: 40%;
    max-width: 800px;
    height: 0%;
    max-height: 800px;
    margin-top: 3%;
    transition: transform 10s cubic-bezier(.5,.1,.15,1);
    transform: rotate(0deg);
    z-index: 1;
    pointer-events: none;
  } */
section
{
    position: absolute;
    top: 10px;
    margin-top: 60px;
}
label{
    
    color: white;
    margin-left: 155px;
}
section,input
{
    height: 30px;
    margin-left: 150px;
    border-radius: 15px;
}
#boutton
{
    position: absolute;
    top: 250px;
    left: 64%;
    padding: 10px;
    box-shadow: rosybrown;
    border-radius: 15px;
    color:white;
    font-size: 20px;
    background-color: rgb(72, 255, 0);
}